

body{

    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background:#E7F2ED;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 80px;
    letter-spacing: -0em;
    color:#13CC7C;
}

h2{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 60px;
    color: #13CC7C;
}

input {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color:E7F2ED;
}

button {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color:E7F2ED;
    background: #13CC7C;
    border-radius: 5px;
    border:solid;
    border-width: 3px;
    border-color: #ffffff;

}
.pageTitle{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 32px;
    color: #13CC7C;
}
.fieldLabel{
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 24px;
    color: #13CC7C;
}


.dashDiv{
    visibility: visible;
}

.reportDiv{
    visibility: hidden;
}
